.main-body{
  background-image: linear-gradient(#5194b6,#AAAAAA);
}
#main-title{
    color: rgb(245, 245, 253);
    text-align: center;
    font-size: 65;
}
#sub-title{
  margin-top: 15;
    color: rgb(228, 31, 179);
    text-align: center;
    font-size: 40;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 3.2px;
    word-spacing: -1.2px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}
.main-card {
    justify-content: center;
    background: #CE5937;
    width: 210;
    height: 300px;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    -webkit-box-shadow: 14px 19px 29px 5px #000000; 
    box-shadow: 14px 19px 29px 5px #000000;
    float: left;    
    margin: 18px;
    }
    .main-images{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 50px;    
    }
    .main-titles{
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 18px;
        letter-spacing: 4.4px;
        word-spacing: 2.6px;
        color: #fafafa;
        font-weight: 700;
        text-decoration: none solid rgb(232, 230, 227);
        font-style: italic;
        font-variant: small-caps;
        text-transform: capitalize;
        margin-top: 20px;
        text-align: center;
        }
    .main-images2{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 27px;    
    }
    .spring-logo{
        width: 250px;
        height: 100px;   
        margin-bottom: 20px;  
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto; 
        display: block;  
    }
    table.main-links-table {
        font-family: Arial, Helvetica, sans-serif;
        color: #363636;
        font-weight: 800;
        text-align: center;        
      }
      table.main-links-table tbody td {
        font-size: 20px;
        padding: 3px 3px;
        height: 50px;
        text-align: left;
        font-weight: bold;
      }

      .html-icon {
          height: 25px;
      }
      a {
        text-decoration: none; 
        color: #363636;     
       }
       .info-side {
           width: 50%;
           font-size: 25px; 
                      
       }
       .data-side1 {
        width: 400px;
        max-width: 800;
        height: 30;   
        margin-top: 20; 
        box-shadow: 5px 5px 5px yellow; 
        border-radius: 5px;    
    }
    .data-side2 {
        width: 400px;
        max-width: 800; 
        margin-top: 20;
        box-shadow: 5px 5px 5px yellow; 
        border-radius: 5px;    
    }
    .myButton {
        margin-top: 25;
        background-color:#44c767;
        border-radius:15px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:10px 35px;
        text-decoration:none;
        margin-bottom: 20;
    }
    .myButton:hover {
        background-color:#bf2a92;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    .radio-buttons {
        margin-top: 10px;
        width: 80px;
        height: 20px;
    }
    table.webtables {
        font-family: "Arial Black", Gadget, sans-serif;
        background-color: #696969;
        width: 1000px;
        height: 600px;
        text-align: center;
      }
      table.webtables td, table.webtables th {
        border: 1px solid #868686;
      }
      table.webtables tbody td {
        font-size: 15px;
        color: #E6E6E6;
      }
      table.webtables tr:nth-child(even) {
        background: #888888;
      }
      table.webtables thead {
        background: #000000;
        border-bottom: 3px solid #000000;
      }
      table.webtables thead th {
        height: 60px;  
        font-size: 18px;
        font-weight: bold;
        color: #E6E6E6;
        text-align: center;
        border-left: 2px solid #4A4A4A;
      }
      table.webtables thead th:first-child {
        border-left: none;
      }
      
      table.webtables tfoot td {
        font-size: 12px;
      }
      .mainrightside {
        min-height: 600px;
      }
      .moving-photos{
        margin: auto;
        width: 250;
        height: 200;
        border-radius: 22px;
    }
    .accordion-header{
      border: #000000;
      border-style: solid;
      border-width: 0.5px;
      border-collapse: collapse;
    }
    .accordion-item{
      background-color: #818e9b;
      border: #000000;
      border-style: solid;
      border-width: 0.5px;
      border-collapse: collapse;
    }
    .accordion-button{
      background-color: #808080;
      border: #000000;
      border-style: solid;
      border-width: 0.5px;
      border-collapse: collapse;
    }





  
      


