#main-body{
    background-color: rgb(7, 116, 116);
}
#main-title{
    color: rgb(245, 245, 253);
    text-align: center;
    font-size: 75;
}
.main-card {
    background: #CE5937;
    width: 14.5%;
    height: 300px;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    -webkit-box-shadow: 14px 19px 29px 5px #000000; 
    box-shadow: 14px 19px 29px 5px #000000;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    
    }
    .main-images{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 50px;    
    }
    .main-titles{
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 18px;
        letter-spacing: 4.4px;
        word-spacing: 2.6px;
        color: #000000;
        font-weight: 700;
        text-decoration: none solid rgb(232, 230, 227);
        font-style: italic;
        font-variant: small-caps;
        text-transform: capitalize;
        margin-top: 20px;
        text-align: center;
        }
    .main-images2{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 27px;    
    }
    .spring-logo{
        width: 250px;
        height: 100px;   
        margin-bottom: 40px;  
        margin-left: auto;
        margin-right: auto; 
        display: block;  
    }
