.main-body{
    background-color: rgb(7, 116, 116);
}
#main-title{
    color: rgb(245, 245, 253);
    text-align: center;
    font-size: 75;
}
#sub-title{
    color: rgb(228, 31, 179);
    text-align: center;
    font-size: 40;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 3.2px;
    word-spacing: -1.2px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}
.main-card {
    background: #CE5937;
    width: 14.5%;
    height: 300px;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    -webkit-box-shadow: 14px 19px 29px 5px #000000; 
    box-shadow: 14px 19px 29px 5px #000000;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    
    }
    .main-images{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 50px;    
    }
    .main-titles{
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 18px;
        letter-spacing: 4.4px;
        word-spacing: 2.6px;
        color: #fafafa;
        font-weight: 700;
        text-decoration: none solid rgb(232, 230, 227);
        font-style: italic;
        font-variant: small-caps;
        text-transform: capitalize;
        margin-top: 20px;
        text-align: center;
        }
    .main-images2{
        width: 50%;
        height: 50%;
        margin-left: 25%;    
        margin-top: 27px;    
    }
    .spring-logo{
        width: 250px;
        height: 100px;   
        margin-bottom: 20px;  
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto; 
        display: block;  
    }
    table.main-links-table {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #9b9898;
        color: #363636;
        font-weight: 800;
        text-align: center;
        margin-top: 20px;
        margin-left: 5%;
      }
      table.main-links-table tbody td {
        font-size: 20px;
        background: #BCA8AE;
        padding: 3px 3px;
        height: 50px;
        text-align: left;
        font-weight: bold;
      }
 
      table.main-links-table thead {
        background: #4D7096;
        background: -moz-linear-gradient(top, #7994b0 0%, #5e7ea0 66%, #4D7096 100%);
        background: -webkit-linear-gradient(top, #7994b0 0%, #5e7ea0 66%, #4D7096 100%);
        background: linear-gradient(to bottom, #7994b0 0%, #5e7ea0 66%, #4D7096 100%);
      }
      table.main-links-table thead th{
          height: 50px;      
      }
      .html-icon{
          height: 25px;
      }
      a {
        text-decoration: none; 
        color: #363636;     
       }
       .info-side{
           width: 50%;
           font-size: 25px; 
                      
       }
       .data-side1{
        width: 400px;
        max-width: 800;
        height: 30;   
        margin-top: 20;     
    }
    .data-side2{
        width: 400px;
        max-width: 800; 
        margin-top: 20;     
    }
    .myButton {
        margin-top: 20;
        background-color:#44c767;
        border-radius:15px;
        border:1px solid #18ab44;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:10px 35px;
        text-decoration:none;
    }
    .myButton:hover {
        background-color:#bf2a92;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }





  
      


